In [11]:
for a in range(0,10):
    print(a,"why")

0 why
1 why
2 why
3 why
4 why
5 why
6 why
7 why
8 why
9 why

In [14]:
name=["a","b","c","d","e"]
check="your name is"
for a_name in name:
    print(check,a_name)

your name is a
your name is b
your name is c
your name is d
your name is e

In [22]:
for j in range(10,0,-1):
    print(j)

10
9
8
7
6
5
4
3
2
1

In [50]:
student=["a","b","c","d","e"]
pak=" Pakistani"
bro=" bro"
lust=[]
for a_student in student:
    print(a_student,pak,bro)
    lust.append(a_student+pak+bro)
lust

a  Pakistani  bro
b  Pakistani  bro
c  Pakistani  bro
d  Pakistani  bro
e  Pakistani  bro

['a Pakistani bro',
 'b Pakistani bro',
 'c Pakistani bro',
 'd Pakistani bro',
 'e Pakistani bro']

In [51]:
lust

['a Pakistani bro',
 'b Pakistani bro',
 'c Pakistani bro',
 'd Pakistani bro',
 'e Pakistani bro']

In [47]:
squ=[]
for p in range(1,11):
    squ.append(p*2)

    
squ

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [53]:
students = ["Ali","Noman","Kashif","Zahid","Saqib"]
for name in students:
    a = students.index(name)
    students[a] = name + " Khan"
students

['Ali Khan', 'Noman Khan', 'Kashif Khan', 'Zahid Khan', 'Saqib Khan']

In [79]:
students = ["Ali","Noman","Kashif","Zahid","Saqib"]


for a_students in students:
    students.pop(0)
    students.append(a_student+" khan")
    print(a_student)
students

e
e
e
e
e

['e khan', 'e khan', 'e khan', 'e khan', 'e khan']

In [85]:
check = ["Ali","Noman","Kashif","Zahid","Saqib"]
check
for a_check in check:
    check.append(check.pop(0)+" Pakistani")
check

['Ali Pakistani',
 'Noman Pakistani',
 'Kashif Pakistani',
 'Zahid Pakistani',
 'Saqib Pakistani']